mixin header()
	.header

		.header__container

			.header__logo
				h1
					span.header__logo__upper A Pause For
					span.header__logo__lower Thought

			.header__nav
				ul
					li
						a(href="/") Home
					li
						a(href="/about") About
					li
						a(href="/links") Links
					li
						a(href="/shows") Shows
					li
						a(href="/schedule") Schedule
					li
						a(href="/blog") Blog

mixin createNumber(num)
	span.hshow__date__num
		if num === 1
			span.hshow__date__num__num= num
			span.hshow__date__num__raised st
		else if num === 2
			span.hshow__date__num__num= num
			span.hshow__date__num__raised nd
		else if num === 3
			span.hshow__date__num__num= num
			span.hshow__date__num__raised rd
		else
			span.hshow__date__num__num= num
			span.hshow__date__num__raised th

mixin createPosts(list)
	if list.length < 1
		p.no-posts There are currently no posts in this section. Check back soon for more.
	else
		each post in list
			a(href=`blog/${post.id}`).hpost
				.hpost__title
					.hpost__title__group
						h2= post.title
						h3!= "By " + post.poster

					.hpost__title__tags

						p.hpost__title__tags__title Tags

						each tag in post.tags
							.hpost__title__tag.hpost__outlined-box
								p= tag

				.hpost__body
					p!= post.description + " <strong>Read More</strong>"
