extends page

mixin createPosts(list)
	each post in list
		.hpost
			.hpost__title
				h2= post.title

				.hpost__title__tags

					p.hpost__title__tags__title Tags

					each tag in post.tags
						.hpost__title__tag
							p= tag

			.hpost__body
				p= post.body

block body

	.header

		.header__container

			.header__logo
				h1
					span.header__logo__upper A Pause For
					span.header__logo__lower Thought

			.header__nav
				ul
					li
						a(href="/") Home
					li
						a(href="/about") About
					li
						a(href="/shows") Shows
					li
						a(href="/schedule") Schedule
					li
						a(href="/blog") Blog

	.section

		.hero

			.hero__container

				.hero__left

					.hero__call

						h2.hero__call__title
							span.hero__call__title__upper A thoughtful show,
							span.hero__call__title__lower for thoughtful people

						h3.hero__call__subtitle
							span Every Wednesday, 5PM

				.hero__right

					.hplanner
						.hplanner__title
							h2 April
							h3 Schedule

						.hplanner__events
							each show in shows
								a(href="#").hshow

									.hshow__left

										h2.hshow__date
											span.hshow__date__month April
											span.hshow__date__num
												span.hshow__date__num__num 6
												span.hshow__date__num__raised th

									.hshow__right

										h2.hshow__title= show.title
										p.hshow__description= show.description

						.hplanner__buttons
							a(href="#") View Full Schedule...

	.section.section--thoughts

		.thoughts

			.thoughts__container

				.thoughts__section

					.thoughts__section__title
						h2 My Thoughts
						h3 Thoughts from our host, Wayne Parker

					.thoughts__section__list
						+createPosts(posts.my)

				.thoughts__section

					.thoughts__section__title
						h2 Your Thoughts
						h3 Thoughts from our viewers and listeners

					.thoughts__section__list
						+createPosts(posts.your)
